@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;800&display=swap');
$family-serif: "Abhaya Libre", serif;
$family-primary: $family-serif;

@import "../node_modules/bulma/bulma.sass";
// @import "../node_modules/bulma-carousel/dist/css/bulma-carousel.min.css";

.hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

.slider-navigation-previous{
    margin-left:1rem;
}
.slider-navigation-next{
    margin-right:1rem;
}

.editors-img{
    object-fit: cover;
    object-position: center center;
}

.icon:hover i{
    color:hsl(171, 100%, 41%);
}