@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

nav, h1,h2,h3,h4, .title, .subtitle {
    font-family: 'Abhaya Libre' !important;
 }

.slider-navigation-previous{
    margin-left:1rem;
}
.slider-navigation-next{
    margin-right:1rem;
}

.editors-img{
    object-fit: cover;
    object-position: center center;
}

.icon:hover i{
    color:hsl(171, 100%, 41%);
}

.hero-home{
    background-image: url('../images/header-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height:400px;
}

.hero-sub {
    background-image: url('../images/p10.jpg');
 
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .hero-about {
    background-image: url('../images/p9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .hero-issues {
    background-image: url('../images/p2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .hero-submissions {
    background-image: url('../images/submissions.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

/* make img carousel images fit container
.item img{
    width:100%;
    height:100%;
} */

 /* To make cards equal height, use this
 .column{
     display: flex;
 } */